

.root{
    height:350px;
    @apply bg-black;
}
.seconday{
    @apply bg-white;
}
.container{
    @apply flex flex-row;

    & > *{
        @apply flex-1 px-16 pb-3  relative;
    }
}

.loop{
    animation: slide 5s linear infinite;
    offset:10vh;
}
.loop:hover{
    animation-play-state: paused;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }    
    100%{
        transform:translateX(calc(-250px*9));
    }
}