

.root{
    height:320px;
}

.container{
    @apply flex flex-row;

    & > *{
        @apply flex-1 px-16 py-4 relative;
    }
}

.loop{
    animation-name:slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: backwards;
    position: relative;
}
@keyframes slide {
    from{right:0}
    to{right:100%}
}