

.root{
    height:320px;
}

.container{
    @apply flex flex-row;

    & > *{
        @apply flex-1 px-16 py-4 relative;
    }
}

.loop{
    animation:slide;
    animation-duration: 5s;
}
@keyframes slide {
    from{margin-right: 100%;}
}